In [1]:
# 导入包
import pandas as pd

In [2]:
# 加载全量样本

'''
train_format1：数据集中只包含 label为0和1的数据。
train_format2：数据集中同时包含 label为0、1和-1的数据。
user_info_format1：用户信息数据集。
user_log_format1：用户日志数据集。
'''

# 文件路径
filePath = sys.path[0]

# 导入数据
df_train1 = pd.read_csv(filePath + os.sep + 'datasets' + os.sep + 'train_format1.csv', encoding='ISO-8859-1')
df_train2 = pd.read_csv(filePath + os.sep + 'datasets' + os.sep + 'train_format2.csv', encoding='ISO-8859-1')
df_test1 = pd.read_csv(filePath + os.sep + 'datasets' + os.sep + 'test_format1.csv', encoding='ISO-8859-1')
df_test2 = pd.read_csv(filePath + os.sep + 'datasets' + os.sep + 'test_format2.csv', encoding='ISO-8859-1')
df_user_info = pd.read_csv(filePath + os.sep + 'datasets' + os.sep + 'user_info_format1.csv', encoding='ISO-8859-1')
df_user_log = pd.read_csv(filePath + os.sep + 'datasets' + os.sep + 'user_log_format1.csv', encoding='ISO-8859-1')

In [3]:
# 查看数据规模
# print('----------数据集规模-------------')
print('df_train1 shape: ', df_train1.shape, df_train1.columns)
print('df_train2 shape: ', df_train2.shape, df_train2.columns)
print('df_test1 shape: ', df_test1.shape, df_test1.columns)
print('df_test2 shape: ', df_test2.shape, df_test2.columns)
print('df_user_info shape: ', df_user_info.shape, df_user_info.columns)
print('df_user_log shape: ', df_user_log.shape, df_user_log.columns)

# 查看数据大体情况
# print('-----------数据集字段-------------')
# print('df_train1 head: \n', df_train1.head())
# print('df_train2 head: \n', df_train2.head())
# print('df_test1 head: \n', df_test1.head())
# print('df_test2 head: \n', df_test2.head())
# print('df_user_info head: \n', df_user_info.head())
# print('df_user_log head: \n', df_user_log.head())

# 查看是否有缺失值
# print(df_train1.info(verbose=True,null_counts=True))
# print(df_train2.info(verbose=True,null_counts=True))
# print(df_test1.info(verbose=True,null_counts=True))
# print(df_test2.info(verbose=True,null_counts=True))
# print(df_user_info.info(verbose=True,null_counts=True))
# print(df_user_log.info(verbose=True,null_counts=True))

# 特殊值查看
# print('df_train1 label: \n', df_train1['label'].value_counts())
# print('df_train2 label: \n', df_train2['label'].value_counts())

df_train1 shape:  (260864, 3) Index(['user_id', 'merchant_id', 'label'], dtype='object')
df_train2 shape:  (7030723, 6) Index(['user_id', 'age_range', 'gender', 'merchant_id', 'label',
       'activity_log'],
      dtype='object')
df_test1 shape:  (261477, 3) Index(['user_id', 'merchant_id', 'prob'], dtype='object')
df_test2 shape:  (7027943, 6) Index(['user_id', 'age_range', 'gender', 'merchant_id', 'label',
       'activity_log'],
      dtype='object')
df_user_info shape:  (424170, 3) Index(['user_id', 'age_range', 'gender'], dtype='object')
df_user_log shape:  (54925330, 7) Index(['user_id', 'item_id', 'cat_id', 'seller_id', 'brand_id', 'time_stamp',
       'action_type'],
      dtype='object')

In [4]:
matrix = df_train1
# 连接user_info表，通过user_id关联
matrix = matrix.merge(df_user_info, on='user_id', how='left')
matrix

        user_id  merchant_id  label  age_range  gender
0         34176         3906      0        6.0     0.0
1         34176          121      0        6.0     0.0
2         34176         4356      1        6.0     0.0
3         34176         2217      0        6.0     0.0
4        230784         4818      0        0.0     0.0
...         ...          ...    ...        ...     ...
260859   359807         4325      0        4.0     1.0
260860   294527         3971      0        0.0     1.0
260861   294527          152      0        0.0     1.0
260862   294527         2537      0        0.0     1.0
260863   229247         4140      0        4.0     2.0

[260864 rows x 5 columns]

In [5]:
# 格式化
df_user_log.rename(columns={'seller_id':'merchant_id'}, inplace=True)  # 使用merchant_id（原列名seller_id）
df_user_log['user_id'] = df_user_log['user_id'].astype('int32')
df_user_log['merchant_id'] = df_user_log['merchant_id'].astype('int32')
df_user_log['item_id'] = df_user_log['item_id'].astype('int32')
df_user_log['cat_id'] = df_user_log['cat_id'].astype('int32')
df_user_log['brand_id'].fillna(0, inplace=True)
df_user_log['brand_id'] = df_user_log['brand_id'].astype('int32')
df_user_log['time_stamp'] = pd.to_datetime(df_user_log['time_stamp'], format='%H%M')

matrix['age_range'].fillna(0, inplace=True)  # 0 and NULL for unknown
matrix['gender'].fillna(2, inplace=True)  # 2 and NULL:unknown
matrix['age_range'] = matrix['age_range'].astype('int8')
matrix['gender'] = matrix['gender'].astype('int8')
matrix['label'] = matrix['label'].astype('int32')
matrix['user_id'] = matrix['user_id'].astype('int32')
matrix['merchant_id'] = matrix['merchant_id'].astype('int32')
matrix

        user_id  merchant_id  label  age_range  gender
0         34176         3906      0          6       0
1         34176          121      0          6       0
2         34176         4356      1          6       0
3         34176         2217      0          6       0
4        230784         4818      0          0       0
...         ...          ...    ...        ...     ...
260859   359807         4325      0          4       1
260860   294527         3971      0          0       1
260861   294527          152      0          0       1
260862   294527         2537      0          0       1
260863   229247         4140      0          4       2

[260864 rows x 5 columns]

In [6]:
# 商家特征处理
groups = df_user_log.groupby(['merchant_id'])

# 商家被交互行为数量 m1
temp = groups.size().reset_index().rename(columns={0:'m1'})
matrix = matrix.merge(temp, on='merchant_id', how='left')

# 统计商家被交互的user_id, item_id, cat_id, brand_id 唯一值
temp = groups['user_id', 'item_id', 'cat_id', 'brand_id'].nunique().reset_index().rename(columns={'user_id':'m2', 'item_id':'m3', 'cat_id':'m4', 'brand_id':'m5'})
matrix = matrix.merge(temp, on='merchant_id', how='left')

# 统计商家被交互的action_type 唯一值，0表示单击，1表示添加到购物车，2表示购买，3表示添加到收藏夹
temp = groups['action_type'].value_counts().unstack().reset_index().rename(columns={0:'m6', 1:'m7', 2:'m8', 3:'m9'})
matrix = matrix.merge(temp, on='merchant_id', how='left')

# 按照merchant_id 统计随机负采样的个数（商家的老用户数）
temp = df_train2[df_train2['label']==-1].groupby(['merchant_id']).size().reset_index().rename(columns={0:'m10'})
matrix = matrix.merge(temp, on='merchant_id', how='left')

# 采用one-hot编码 修改age_range字段名称为 age_0, age_1, age_2... age_8
temp = pd.get_dummies(matrix['age_range'], prefix='age')
matrix = pd.concat([matrix, temp], axis=1)

# 采用one-hot编码 修改gender字段名称为 g_0, g_1, g_2
temp = pd.get_dummies(matrix['gender'], prefix='g')
matrix = pd.concat([matrix, temp], axis=1)

# 删除age_range, gender字段
matrix.drop(['age_range', 'gender'], axis=1, inplace=True)

matrix

,user_id,merchant_id,label,m1,m2,m3,m4,m5,m6,m7,...,age_2,age_3,age_4,age_5,age_6,age_7,age_8,g_0,g_1,g_2
0,34176,3906,0,16269,5819,308,20,2,14870.0,28.0,...,0,0,0,0,1,0,0,1,0,0
1,34176,121,0,79865,10931,1179,26,2,72265.0,121.0,...,0,0,0,0,1,0,0,1,0,0
2,34176,4356,1,7269,2281,67,15,2,6094.0,16.0,...,0,0,0,0,1,0,0,1,0,0
3,34176,2217,0,60202,16870,377,5,2,52230.0,101.0,...,0,0,0,0,1,0,0,1,0,0
4,230784,4818,0,48089,7500,461,27,2,43268.0,129.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260859,359807,4325,0,19789,5379,77,18,2,16711.0,47.0,...,0,0,1,0,0,0,0,0,1,0
260860,294527,3971,0,28892,7587,272,7,2,24602.0,94.0,...,0,0,0,0,0,0,0,0,1,0
260861,294527,152,0,8107,2404,172,13,2,6829.0,12.0,...,0,0,0,0,0,0,0,0,1,0
260862,294527,2537,0,48094,10867,222,21,2,39593.0,123.0,...,0,0,0,0,0,0,0,0,1,0
260863,229247,4140,0,8566,2038,420,3,2,7744.0,11.0,...,0,0,1,0,0,0,0,0,0,1

In [ ]:
# # 增加特征
# matrix['rate'] = matrix[]

In [21]:
feat_group = matrix.groupby(['merchant_id']).agg({'user_id':'nunique', 'label':'sum', 'm1':'sum', 'm2':'sum', 'm3':'sum', 'm4':'sum', 'm5':'sum', 'm6':'sum', 'm7':'sum', 'm8':'sum', 'm9':'sum', 'm10':'sum', 'age_0':'sum', 'age_1':'sum', 'age_2':'sum', 'age_3':'sum', 'age_4':'sum', 'age_5':'sum', 'age_6':'sum', 'age_7':'sum', 'age_8':'sum', 'g_0':'sum', 'g_1':'sum', 'g_2':'sum'})

feat_group_select = feat_group[(feat_group['user_id'] > 100)]
feat_group_select['rate'] = feat_group_select['label'] / feat_group_select['user_id']
# feat_group_select

merchant_good = feat_group_select.sort_values(by='rate', ascending=False)[0:10]
merchant_good

,user_id,label,m1,m2,m3,m4,m5,m6,m7,m8,...,age_3,age_4,age_5,age_6,age_7,age_8,g_0,g_1,g_2,rate
merchant_id,,,,,,,,,,,,,,,,,,,,,
3323,606,176,11826090,2473692,56964,606,1212,10082022.0,25452.0,1338654.0,...,189.0,186.0,60.0,13.0,4,3,351.0,200.0,55,0.290429
1999,259,73,3557624,565138,59570,1036,518,3079769.0,3626.0,355348.0,...,92.0,91.0,19.0,4.0,1,0,161.0,74.0,24,0.281853
1322,102,27,492558,116892,23154,1224,204,419832.0,1122.0,55182.0,...,30.0,37.0,11.0,1.0,1,1,66.0,29.0,7,0.264706
587,114,27,1022124,385548,31350,8322,5586,882816.0,1710.0,77634.0,...,26.0,36.0,26.0,3.0,3,1,66.0,41.0,7,0.236842
4775,213,50,7656924,1636053,66456,1065,426,6968082.0,9798.0,194256.0,...,20.0,30.0,31.0,51.0,11,1,189.0,17.0,7,0.234742
4480,217,47,5549992,829591,60109,2170,434,5097330.0,4774.0,257579.0,...,39.0,99.0,28.0,11.0,2,0,155.0,47.0,15,0.216590
3016,236,51,7500080,883112,136644,5900,472,6699096.0,4484.0,474832.0,...,56.0,54.0,8.0,16.0,2,2,107.0,115.0,14,0.216102
3624,126,25,870156,153972,19152,378,252,762048.0,1008.0,84672.0,...,40.0,39.0,11.0,7.0,2,2,77.0,37.0,12,0.198413
4043,881,165,56499411,9767647,273991,22025,1762,46098325.0,92505.0,6795153.0,...,279.0,100.0,63.0,47.0,8,0,734.0,123.0,24,0.187287
474,636,118,43316052,8746272,1161972,152640,57876,35502792.0,39432.0,5912256.0,...,216.0,222.0,58.0,11.0,3,3,422.0,178.0,36,0.185535

In [8]:
groups['action_type'].value_counts().unstack().reset_index().rename(columns={0:'m6', 1:'m7', 2:'m8', 3:'m9'})

action_type  merchant_id        m6     m7       m8       m9
0                      1  308236.0  444.0  17705.0  12755.0
1                      2    2030.0    8.0    189.0    144.0
2                      3    2399.0    4.0     67.0    175.0
3                      4    2646.0    2.0    294.0    164.0
4                      5    7483.0    9.0    144.0    556.0
...                  ...       ...    ...      ...      ...
4990                4991     556.0    2.0     80.0     28.0
4991                4992   11380.0   20.0   1971.0    505.0
4992                4993   12324.0   18.0    769.0   1156.0
4993                4994    5756.0   13.0    164.0    226.0
4994                4995    6134.0   16.0    911.0    447.0

[4995 rows x 5 columns]

In [11]:
groups['action_type'].value_counts().unstack()

action_type         0      1        2        3
merchant_id
1            308236.0  444.0  17705.0  12755.0
2              2030.0    8.0    189.0    144.0
3              2399.0    4.0     67.0    175.0
4              2646.0    2.0    294.0    164.0
5              7483.0    9.0    144.0    556.0
...               ...    ...      ...      ...
4991            556.0    2.0     80.0     28.0
4992          11380.0   20.0   1971.0    505.0
4993          12324.0   18.0    769.0   1156.0
4994           5756.0   13.0    164.0    226.0
4995           6134.0   16.0    911.0    447.0

[4995 rows x 4 columns]